<!DOCTYPE html>
<title>Language Learner</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
  {% endif %}
{% endwith %}

<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style1.css') }}" /> <!url_for is a FLASK function for Python>

<h1 align="center">Welcome to Language Learner 3!</h1>

<h2 align="center">Please Choose From One Of The Options Below!</h2>

<div align="center">
    <button class="smallFloatingButtonEnabled" id="btnTakeATest" align="center" onclick="btnTakeATestOnClick()">Take a test</button>

    <br>

    <button class="smallFloatingButtonEnabled" id="btnViewModDictionaries" align="center" onclick="btnViewModDictionariesOnClick()">View/Modify Dictionaries</button>

    <br>

    <button class="smallFloatingButtonEnabled" id="btnViewStatsFromOldTests" align="center" onclick="btnViewStatsFromOldTestsOnClick()">View Stats From Old Tests</button>
</div>

<!*******************************************************************************************************>
<!************************** END OF HTML ****************************************************************>
<!*******************************************************************************************************>

<script>

//**************************************************************************
    function btnTakeATestOnClick() {
//**************************************************************************
        window.location = 'http://127.0.0.1:5000/test';
    }

//**************************************************************************
    function btnViewModDictionariesOnClick() {
//**************************************************************************
        window.location = 'http://127.0.0.1:5000/dictionaries';
    }

//**************************************************************************
    function btnViewStatsFromOldTestsOnClick() {
//**************************************************************************
        alert("Sorry, this functionality has not yet been implemented!")
    }

</script>