<!DOCTYPE html>
<title>Language Learner</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style1.css') }}" /> <!url_for is a FLASK function for Python>
<h1 align="center">Welcome to the Test Centre for Language Learner 3!</h1>

<h3 align="center">Choose From One Of The {{flask_numberOfLanguages}} Languages Below!</h3>

<div id="div1">

</div>

<!*******************************************************************************************************>
<!************************** END OF HTML ****************************************************************>
<!*******************************************************************************************************>

<script>
    var languageChoice = '';
    createLanguageButtons();

//**************************************************************************
    function createLanguageButtons() {
//**************************************************************************

        var divContainingLanguageButtons = document.getElementById("div1");
        var JSON_arrayOfLanguages = {{ flask_arrayOfLanguages| tojson }};    //populate a JSON array from the (jinja?) FLASK array (originally a LIST in python)

        var JS_arrayOfLanguages = JSON.parse(JSON_arrayOfLanguages); //now parse the JSON array into a JAVASCRIPT array

        for (i = 0; i < JS_arrayOfLanguages.length; i++) {

            linebreak = document.createElement("br");

            divContainingLanguageButtons.appendChild(linebreak);
            var newButton = document.createElement("BUTTON");                   // Create a <button> element
            var newTextNode = document.createTextNode(JS_arrayOfLanguages[i]);   // Create a text node
            newButton.appendChild(newTextNode);                                 // Append the text to <button>
            newButton.setAttribute("id", JS_arrayOfLanguages[i]);

            divContainingLanguageButtons.appendChild(newButton);            // Append <button> to parent - <div> in this case
            document.getElementById(JS_arrayOfLanguages[i]).style.color = "blue";
            document.getElementById(JS_arrayOfLanguages[i]).style.height = "100px";
            document.getElementById(JS_arrayOfLanguages[i]).style.width = "300px";
            document.getElementById(JS_arrayOfLanguages[i]).style.margin = "auto";          //these two lines ensure buttons appear in the middle of the screen
            document.getElementById(JS_arrayOfLanguages[i]).style.display = "block";         //(possibly using DIV. But how? margin and block don't seem the kind of properties you'd expect!')
            document.getElementById(JS_arrayOfLanguages[i]).addEventListener("click", function () { navigateToSpecificLanguagePage(this.id); });  //comment required philob xyz!
        };
    };

//**************************************************************************
    function navigateToSpecificLanguagePage(languageString) {
//**************************************************************************
        newLocation = 'http://127.0.0.1:5000/chooseTestParams/' + languageString;
        window.location = newLocation;
    }
</script>