<!DOCTYPE html>
<title>Language Learner</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style1.css') }}" /> <!url_for is a FLASK function for Python>
<h1>yikes_404.html is telling you page couldn't be found!!</h1>
<h2>set global variable a to 1 to see a rendered message instead of this rendered template</h2>

<!*******************************************************************************************************>
<!************************** END OF HTML ****************************************************************>
<!*******************************************************************************************************>